<div class="container">
	<div class="buffer">
	</div>
	<div class="row">
			<div class="col-xs-12" id="profile">
				<div class="profilePicture">
					<img class='profilePicture' src='<%= @User.avatar.url   %>' />
				</div>
				<div class="profileInfo">
				<span class="userAlias"><%= @User.alias %></span>
				<span class="userName"><%= @User.first_name %> <%= @User.last_name %></span>
				<span class="userField"><%= @User.email %></span>
				<span class="userField">Location: <%= @User.location %></span>
				<span class="userField">"<%= @User.tagline %>"</span>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h1>Tracks</h1>
				<div id="track">
					<% @User.tracks.each do |t| %>
					<p><a href="/tracks/<%= t.id %>"><%= t.title %></a></p>
					<p><%= t.desc %></p>
					<% end %>
				</div>
		    </div>
	</div>
</div>
<%= current_user[:id] %>