<!DOCTYPE html>
<html>
<head>
  <title>Mixninja</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js" %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<% if current_user %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navTitle">
     <h1 class="pull-left"><a href="/dashboard#/new">MixNinja</a></h1>      
    </div>

   <div class="navButton">
     <button class="btn btn-custom btn-lg" id="link"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>        
    </div>
    <div class="navButton">
    <button type="button" class="btn btn-custom btn-lg" data-toggle="modal" data-target="#editModal">
          &#9881;
    </button>
    </div>
    <div class="navButton">
    <button type="button" class="btn btn-custom btn-lg" id="link">
        <%= link_to "Profile", controller: "users", action: "show", id: current_user[:id] %>
    </button>
    </div>
  	<div class="navButton">
		<button type="button" class="btn btn-custom btn-lg" data-toggle="modal" data-target="#myModal">
  			Upload
		</button>
    </div>
    

  </div>
</nav>

  <% else %>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navButton">
      <button class="btn btn-custom btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>

  </div>
</nav>
<% end %>



<!-- Track Modal -->
<% if current_user %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a Track</h4>
      </div>

      <div class="modal-body">
        	<form action="/tracks" method="post" class="trackForm" enctype="multipart/form-data">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="track[user_id]" value="<%= current_user[:id] %>" type="hidden">


        <div class="control-group">
              <label class="control-label" for="first_name">Title</label>
              <div class="controls">
                <input id="first_name" name="track[title]" class="form-control" type="text" placeholder="White Lines" class="input-large">
              </div>
            </div> 

			 <div class="control-group">
              <label class="control-label" for="tagline">Description</label>
              <div class="controls">
                <input id="tagline" name="track[desc]" class="form-control" type="text" placeholder="I eat bats" class="input-large">
              </div>
            </div>

        <p class="b"><strong>File</strong> <input id="track_avatar" name="track[avatar]" type="file" accept=".mp3,audio/*"></p>

		
        <p class="b"><strong>Tracks</strong></p>        
        <div class="input_fields_wrap">
          
            <button class="add_field_button btn btn-custom a">Add New Track</button>

            <div><span><strong>Track Title</strong></span> <input type="text" class="form-control input-large" name="tracklist[track]"/><span><strong>

            Start Time</strong></span> <input type="text" class="form-control input-large" name="tracklist[time]"/></div>  

        </div>

				<p><input type="submit" class="btn btn-purple c" value="Upload"></p>
			</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- edit profile modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action="/users/<%= current_user[:id] %>" method="post" class="edit_user" id="edit_user" enctype="multipart/form-data">
          <input type="hidden"name="_method" value="patch">
            <fieldset>
            <!-- Sign Up Form -->
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="first_name">First Name</label>
              <div class="controls">
                <input id="first_name" name="user[first_name]" class="form-control" type="text" placeholder="Jonny" class="input-large" required="" value='<%= current_user[:first_name] %>'>
              </div>
            </div>    
            <div class="control-group">
              <label class="control-label" for="Email">Last Name</label>
              <div class="controls">
                <input id="last_name" name="user[last_name]" class="form-control" type="text" placeholder="Rotten" class="input-large" required="" value='<%= current_user[:last_name] %>'>
              </div>
            </div>

               <div class="control-group">
              <label class="control-label" for="alias">Alias</label>
              <div class="controls">
                <input id="alias" name="user[alias]" class="form-control" type="text" placeholder="Deadpool" class="input-large" required="" value='<%= current_user[:alias] %>'>
              </div>
            </div>

             <div class="control-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input id="email" name="user[email]" class="form-control" type="text" placeholder="boaty@mcboatface.com" class="input-large" required="" value='<%= current_user[:email] %>'>
              </div>
            </div>


               <div class="control-group">
              <label class="control-label" for="location">Location</label>
              <div class="controls">
                <input id="location" name="user[location]" class="form-control" type="text" placeholder="Space" class="input-large" required="" value='<%= current_user[:location] %>'>
              </div>
            </div>

             <div class="control-group">
              <label class="control-label" for="tagline">Tagline</label>
              <div class="controls">
                <input id="tagline" name="user[tagline]" class="form-control" type="text" placeholder="I eat turtles" class="input-large" required="" value='<%= current_user[:tagline] %>'>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tagline">Avatar</label>
              <div class="controls">
                <input id="tagline" name="user[avatar]" class="form-control" type="file" class="input-large" value='<%= current_user[:avatar] %>'>
              </div>
              <img class='profilePicture' src='<%= current_user.avatar.url   %>' />
            </div>           
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-custom b">Save Changes</button>
              </div>
              <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
            </div>
              
            </div>
            </fieldset>
            </form>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </form>
         <form action='/users/:id' method='post' data-method='delete'>                            
              <%= button_to 'Destroy', {action: :destroy, controller: :users, id: current_user.id},  onclick: 'return confirm("Are you sure?")', method: :delete, :class => "btn btn-purple f" %>      
          </form>
      </div>
    </div>
  </div>
</div>
<% end %>


<%= yield %>

<!-- footer -->
<footer>
  <hr />
  <div class="container">
     
    <p class="text-right">Copyright &copy; CV & K aka Cool Jerks</p>
  </div>
</footer>
<!-- /footer -->



</body>
</html>
